.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 60px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens > li {
    padding: 10px;
}